@import '~bootstrap/scss/bootstrap.scss';

.avatar-xs {
    height: 1.5rem;
    width: 1.5rem;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4.5rem;
    width: 4.5rem;
}

.avatar-lg {
    height: 6rem;
    width: 6rem;
}

.avatar-xl {
    height: 7.5rem;
    width: 7.5rem;
}

.avatar-stack {
    display: inline-block;
    list-style-type: none;
    margin: auto;
    padding: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
        background-color: #596376;
        border: 3px solid #ffffff;
        border-radius: 100%;
        transition: margin 0.1s ease-in-out;
        overflow: hidden;
        margin-left: -4vh;
        display: block;

        &-name {
            color: #ffffff;
            justify-content: center;
            align-items: center;
        }
    }

    a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
    }

}